#loaderGif {
	position: absolute;
	left: 50%;
	top: 150px;
}
#filters .filterBox .filterList { 
	background: #F7F7F7;
	border-top: 1px solid lightgrey;
	border-bottom: 1px solid lightgrey;

	max-height: 100px;
	max-width: 180px;
	overflow-y: scroll;
	overflow-x: hidden;
	margin-top: 0px;

}
 
#filters .filterBox {
	margin-bottom: 10px;
}
#filters .filterBox span{
	font-size: 12px;
	font-weight: bold; 
	position: relative;
	margin-left: 20px;
}
#filters .filterBox span .filterToggle {
	width: 0;
	height: 0;
	position: absolute;
	left: -15px;
	top: 2px;
	overflow: hidden;
	border-style: solid;
	border-width: 9px 4.5px 0 4.5px;	
	border-color: #000 transparent transparent transparent;
}
#filters .filterSelector  {
	padding: 0px;
	margin: 0px;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	
	font-size: 5px;
	font-family: Arial;
	color: #6E6E6E;
}

#filters .filterSelector:hover {
	color: #000;
	text-decoration:underline;
}
#filters .filterSelector input {
	margin-right: 15px;

}
